img {
  max-width: 500px;
  max-height: 500px;
}

.course-card {
  margin: 20px 10px;
}

.course-actions {
  display: flex;
  justify-content: center;
}

.course-actions button {
  margin-right: 5px;
}
