<mat-sidenav-container fullscreen>
  <mat-sidenav #start (click)="start.close()">
    <app-drawer-menu (logout)="logout()"></app-drawer-menu>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <app-messages></app-messages>
  <app-loading></app-loading>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</mat-sidenav-container>
